@media (min-width: 319px) {
    .containerForm {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .titlePageNewService {
        width: 320px;
        margin-left: calc(50% - 170px);
        margin-top: 10px;
        color: rgb(43, 43, 43);
        position: absolute;
        left: 10px;
        top: -5px;
        font-size: 50px;
    }

    .containerTitleNewService {
        background: linear-gradient(180deg, #ffffff 0%, #d9ecff 100%);
        width: 400px;
        height: 125px;
        position: absolute;
        border-radius: 0 0 10px 10px;
        top: 0;
        left: 50%;
        transform: translateX(-47%);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 130px;
        background-color: rgb(82, 82, 82);
        width: 400px;
        height: 1000px;
        border-radius: 20px;
        gap: 5px;
        align-items: center;
    }

    .titlePlace {
        font-size: 20px;
    }

    .formPage input {
        border: none;
        border-radius: 10px;
        width: 350px;
        height: 70px;
        background-color: rgb(59, 59, 59);
    }


    .formPage input:focus {
        outline: none;
        box-shadow: none;
        border: inherit;
        background-color: rgb(255, 255, 255);
        color: rgb(59, 59, 59);
    }

    .formPage select {
        width: 350px;
        height: 70px;
        border: none;
        border-radius: 10px;
    }

    .formPage select:focus {
        outline: none;
        box-shadow: none;
        border: inherit;
        background-color: rgb(255, 255, 255);
        color: rgb(59, 59, 59);
    }

    .formPage button {
        margin-top: 30px;
        margin-bottom: 2%;
        width: 350px;
        height: 70px;
        border: none;
        border-radius: 10px;
    }

    .formPage button:hover, .formPage button:focus {
        box-shadow: 0 0.625em 1em 0 rgba(38, 59, 255, 0.35);
        border-color: #4149dd;
        background-color: aliceblue;
        color: rgb(44, 44, 44);
        transform: scale(1.05);
        font-weight: 800;
    }

    .buttonNewService {
        margin-top: 30px;
        margin-bottom: 2%;
        width: 350px;
        height: 43px;
        border: none;
        border-radius: 10px;
    }

    .buttonNewService:hover, .buttonNewService:focus {
        box-shadow: 0 0.625em 1em 0 rgba(38, 59, 255, 0.35);
        border-color: #4149dd;
        background-color: aliceblue;
        color: rgb(44, 44, 44);
        transform: scale(1.05);
        font-weight: 800;
    }

    .lineWhite {
        width: 380px;
        height: 0;
        border: 1px solid white;
        margin-top: 30px;
        margin-left: 9px;
        border-radius: 5px;
    }
}

@media (min-width: 619px) {
    .formPage {
        width: 500px;
        margin-left: calc(50% - 250px);
    }

    .formPage input {
        width: 400px;
        height: 70px;
    }

    .lineWhite {
        width: 400px;
        margin-left: calc(50% - 200px);
    }
}

@media (min-width: 1019px) {
    .containerForm {
        width: 135vh;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .formPage {
        width: 700px;
        min-height: 100vh;
        height: auto;
        margin-left: 1%;
        padding-bottom: 10px;
    }

    .lineWhite {
        display: none;
    }

    .buttonNewService {
        margin-top: 130px;
        width: 200px;
        height: 200px;
    }

    .formPage input, .formPage select {
        width: 500px;
        height: 30px;
    }
}