@media (min-width: 319px) {
    .divButtons {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 60px;
    }

    .button {
        width: 280px;
        height: 280px;
        font-size: 30px;
    }

    .button:hover {
        box-shadow: 0 0.625em 1em 0 rgba(38, 59, 255, 0.35);
        border-color: #4149dd;
        background-color: aliceblue;
        color: rgb(44, 44, 44);
        transform: scale(1.05);
        font-weight: 800;
    }

    .containerTitle {
        background: linear-gradient(180deg, #ffffff 0%, #d9ecff 100%);
        width: 400px;
        height: 80px;
        position: absolute;
        border-radius: 0 0 10px 10px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titlePage {
        width: 320px;
        margin-left: calc(50% - 195px);
        margin-top: 25px;
        color: rgb(43, 43, 43);
    }
}

@media (min-width: 619px) {
    .titlePage {
        width: 320px;
        margin-left: calc(50% - 196px);
    }
}

@media (min-width: 1019px) {
    .divButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        flex-direction: row;
    }

    .titlePage {
        left: calc(15% - 158.5px);
    }
}

/* parte do loagind */

.three-body {
 --uib-size: 35px;
 --uib-speed: 0.8s;
 --uib-color: #5D3FD3;
 position: relative;
 display: inline-block;
 height: var(--uib-size);
 width: var(--uib-size);
 animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
 position: absolute;
 height: 100%;
 width: 30%;
}

.three-body__dot:after {
 content: '';
 position: absolute;
 height: 0%;
 width: 100%;
 padding-bottom: 100%;
 background-color: var(--uib-color);
 border-radius: 50%;
}

.three-body__dot:nth-child(1) {
 bottom: 5%;
 left: 0;
 transform: rotate(60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite ease-in-out;
 animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
 bottom: 5%;
 right: 0;
 transform: rotate(-60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
 bottom: -5%;
 left: 0;
 transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
 top: 0;
 left: 0;
 animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}
