.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.overlay img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 100%;
}

.containerOfIcons__divGreen:hover, .containerOfIcons--redIcon:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.containerOfIcons__divGreen img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

.containerOfIcons__divGreen--icon {
    width: 35px;
    height: 35px;
}

.containerOfIcons__divGreen {
    width: 45px;
    height: 45px;
    background-color: green;
    border-radius: 100%;
}

.containerOfIcons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 10px;
}

.containerEditinService {
    background: #3f3f3f;
    width: 80%;
    max-width: 900px;
    max-height: 90vh;
    overflow-y: auto;

    padding: 24px;
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerEditinService input {
    height: 20px;
    border: none;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    margin-left: 5px;
}

.containerEditinService h1 {
    font-size: 30px;
}

.containerChecklist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}